<div class='center-content'>
<a class="button arrow" data-toggle="collapse" href="#collapse" id='expand' role="button" aria-expanded="false"
    aria-controls="collapse">
    <div id='get-started'>    
    <span class='title'>Got a Project? Let's Get Started</span>
    <i class="far fa-arrow-alt-circle-right"></i>
</a>
   
    <div class="collapse" id="collapse">
        <div class="card card-body">
        <div class='text'>Send over your information and we will get back to you as soon as possible.</div><br>
            <form action='/contact' method='POST'>
                <div class="form-row">
                    <div class="col-lg-6">
                        <label>Name</label>
                        <input type="text" name='name' class="form-control">
                    </div>
                    <div class="col-lg-6">
                        <label>Email</label>
                        <input type="email" name='email' class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-6">
                        <label>Type of Project</label>
                        <select type="text" name='type' class="form-control">
                            <option disabled selected></option>
                            <option>Static Website</option>
                            <option>Dynamic Website (Blog, Membership Services, Database Integration)</option>
                            <option>Web Application</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label>Budget</label>
                        <select type="text" name='budget' class="form-control">
                            <option disabled selected></option>
                            <option>$500 - $1000</option>
                            <option>$1000 - $5000</option>
                            <option>$5000 - $10,000</option>
                            <option>$10,000 +</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-12">
                        <label>Additional Details</label>
                        <textarea type="text" rows='8'  name='detail' class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <button class='btn btn-outline-light' type='submit'>Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>