<div class='filter'>
    <div id='main-container'>
        <div id='main-header-content'>
            <div class='container'>
                <h1 class='main-header-text'>
                    Custom Website Design.
                </h1>
                <h5 class='main-content'>
                    We are a South Carolina based website & application developer specializing in Node.js development.  Our primary area of focus includes but is not limited to business websites, personal blogs and web application development.  We're open to any kind of project, big or small, and we love to collaborate!
                </h5>
                <div class='buttons'>
                    <a href="#get-started" onclick='expand_get_started()' class="main-button secondary" id='chat'>Let's Chat</a>
                    <a href="#projects" class="main-button secondary">Projects</a>
                </div>
            </div>
        </div>
    </div>
</div>
