<div class='section'>
    <div class='container'>
        <div class='title alt-color-text'>Testimonials</div>
        <div class='row'>
            <div class='col-lg-6'>
                <div class='testimonial'>
                    <div class='testimonial-icon'><img src='/media/man.png'></div>
                    <div class='testimonial-quote'>"Sean did a terrific job designing my small business website. He is an excellent communicator, delivers what is promised
                    on time, and has the integrity to truly care that I was satisfied with the finished product. I had very specific ideas
                    about how my business' website would look and how the functionality would work, including integrating widgets from a
                    third party software vendor I use for scheduling and payment, and Sean's deliverable exceeded my expectations. It's a
                    beautiful, user friendly website. I cannot recommend him highly enough."</div>
                    <div class='byline'>- Rob from Pet Pals of Palm Springs</div>
                </div>
            </div>
            <div class='col-lg-6'>
                <div class='testimonial'>
                    <div class='testimonial-icon'><img src='/media/woman.png'></div>
                    <div class='testimonial-quote'>"Sean is the best. He not only delivered on time, but also listened to my feedback and made the necessary changes. I am
                    extremely satisfied by his work and will recommend him to all my friends. I will also work with him again as needed."</div>
                    <div class='byline'>- Anonymous</div>
                </div>
            </div>
        </div>
        <br>
        <div class='row'>
            <div class='col-lg-6'>
                <div class='testimonial'>
                    <div class='testimonial-icon'><img src='/media/woman1.png'></div>
                    <div class='testimonial-quote'>"So great to work with! I'm so happy I came across him. He is very helpful, understanding, and quick. I will continue
                    to work with him as long as he continues to offer services!"</div>
                    <div class='byline'>- Adria from adriabiasi.com</div>
                </div>
            </div>
            <div class='col-lg-6'>
                <div class='testimonial'>
                    <div class='testimonial-icon'><img src='/media/man1.png'></div>
                    <div class='testimonial-quote'>"I needed help with converting a design into a portfolio home page for my website. I provided the mockup/specs for the
                    page design, and it was coded entirely to spec. Communication was quick and easy. I gave as much instruction for my
                    project as possible, which allowed Sean to execute the project accurately. Working with him was a breeze!"</div>
                    <div class='byline'>- pathstr8fwd</div>
                </div>
            </div>
        </div>
    </div>
</div>