<div class='section'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-4'>
                <div class='item'>
                    <div class='item-icon'>
                        <i class="fas fa-palette"></i>
                    </div>
                    <div class='item-title'>
                        Design
                    </div>
                    <div class='item-content'>
                        Custom website design using modern techniques for the best user experience.
                    </div>
                </div>
            </div>
            <div class='col-lg-4'>
                <div class='item'>
                    <div class='item-icon'>
                        <i class="fas fa-tools"></i>
                    </div>
                    <div class='item-title'>
                        Development
                    </div>
                    <div class='item-content'>
                        Using the latest technology inlcuding Node.js to ensure optimal performance.
                    </div>
                </div>
            </div>
            <div class='col-lg-4'>
                <div class='item'>
                    <div class='item-icon'>
                        <i class="far fa-edit"></i>
                    </div>
                    <div class='item-title'>
                        Blog Platforms
                    </div>
                    <div class='item-content'>
                        Custom blogging platforms built from the ground with content management.  
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class='row'>
            <div class='col-lg-4'>
                <div class='item'>
                    <div class='item-icon'>
                        <i class="fas fa-money-bill-wave"></i>
                    </div>
                    <div class='item-title'>
                        e-Commerce
                    </div>
                    <div class='item-content'>
                        Integrate with a number of eCommerce providers including Paypal & Stripe.
                    </div>
                </div>
            </div>
            <div class='col-lg-4'>
                <div class='item'>
                    <div class='item-icon'>
                        <i class="fas fa-mobile-alt"></i>
                    </div>
                    <div class='item-title'>
                        Mobile Responsive
                    </div>
                    <div class='item-content'>
                        Optimal rendering and viewing regardless of the user's device.
                    </div>
                </div>
            </div>
            <div class='col-lg-4'>
                <div class='item'>
                    <div class='item-icon'>
                        <i class="fas fa-laptop"></i>
                    </div>
                    <div class='item-title'>
                        Web Applications
                    </div>
                    <div class='item-content'>
                        Custom web applications including timesheet tracking & gaming integration.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>