* {
    scroll-behavior: smooth;
}

.active {
    border: none!important;
    box-shadow: 5px 5px 10px gray;
    height: 100%;
    border-radius: 0px!important;
    background: transparent!important;
}

.active-link {
    border-bottom: 5px solid #6e8c99;
}

.alt-color-background {
    background: #6e8c99!important;
}

.alt-color-text {
    color: #6e8c99!important;
}

.buttons {
    margin-top: 25px;
}

.byline {
    text-align: center;
}

.card {
    margin-top: 25px;
    background: transparent;
    border: none;
}

.carousel {
    width: 75%;
    margin: auto;
    box-shadow: 5px 5px 20px 0px black;
    background: transparent;
    border-radius: 10px;
    margin-top: 50px;
}

.carousel-inner {
    border-radius: 10px;
}

.carousel img {
    border-radius: 10px!important;
}

.copyright {
    font-size: 12px;
    margin-top: 25px;
    color: white;
    font-weight: 200;
}

#footer {
    height: auto;
    padding: 50px 0px;
    background: #6e8c99;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 10;
}

#footer img {
    height: 75px;
}

form {
    width: 70%;
    margin: auto;
}

form input, form textarea, form select {
    margin-bottom: 15px;
}

#get-started {
    height: auto;
    margin-top: -50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding: 20px 50px;
    text-align: left;
    position: relative;
    box-shadow:inset 0px 0px 23px -8px #9fb4f2;
	background-color:#00286e;
    z-index: 20;
    box-shadow: 2px 2px 10px black;
}

#get-started a {
    text-decoration: none;
}

#get-started i {
    color: white;
    font-size: 36px;
    margin-top: 20px!important;
    position: absolute;
    right: 50px;
    top: 5px;
}

#get-started .card {
    text-align: center;
}

#get-started .title {
    margin-bottom: 25px;
    font-size: 24px;
}

.item {
    margin-bottom: 25px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
}

.item-content {
    color: gray;
    padding-top: 20px;
}

.item-icon {
    font-size: 30px;
    margin-bottom: 15px;
    color: #6e8c99;
}

.item-title {
    color: #6e8c99;
    font-size: 16px;
    text-transform: uppercase;
}

label {
    color: white;
    text-align: left;
    width: 100%;
}

#logo {
    height: 50px;
}

.main-button {
	box-shadow: inset 0px -3px 7px 0px #6e8c99;
	background-color: #6e8c99;
	border-radius: 3px;
	border: 1px solid white;;
	display: inline-block;
	cursor: pointer;
	color:#ffffff;
	font-family: Arial;
	font-size: 18px;
	padding: 14px 0px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #263666;
    width: 200px;
    text-align: center;
    margin-right: 25px;
}

.main-button:hover {
	background-color: rgba(110, 140, 153, .5);
    border: 1px solid white;
    text-decoration: none;
    color: white;
    -webkit-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}

#main-container {
    height: 100vh;
    background-image: url("/media/mountain_scaled.jpg");
    background-size: cover;
    background-position: fixed;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
}

.main-content {
    line-height: 30px;
    letter-spacing: 1.5px;
    font-weight: 300;
}

#main-header-content {
    padding-top: 200px;
    position: relative;
}

.main-header-text {
    font-size: 64px;
    position: relative;
    z-index: 1;
}

.navbar-brand {
    background-image: url("/media/logo.png");
    width: 300px;
    height: 50px;
    background-size: auto;
    background-repeat: no-repeat;
    transition: all 100ms ease-in-out;
}

.nav-item {
    margin: 0px 25px;
}

.nav-item a {
    width: 75px;
    color: white;
    text-align: center;
}

.nav-item a {
    font-weight: 400;
    color: white!important;
}
.navbar {
    background: transparent;
    transition: all 300ms ease-in-out;
}

.scroll-transition {
    background: #6e8c99;
    box-shadow: 0px 2px 5px black;
    transition: all 300ms ease-in-out;
}

.scroll-transition-brand {
    background-image: url("/media/logo-alt.png");
    transition: all 600ms ease-in-out;
}

.scroll-transition-border {
    border-bottom: 5px solid white;
    transition: all 300ms ease-in-out;
}

.secondary {
    background: rgba(0, 0, 0, .4);
    border: 1px solid #6e8c99;
    color: #6e8c99;
    text-shadow: none;
    box-shadow: none;
}

.section {
    padding: 100px 0px;
    border-bottom: 1px solid lightgray;
    background: white;
    z-index: 10;
    position: relative;
}

.testimonial {
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
}

.testimonial-icon {
    text-align: center;
}

.testimonial-icon img {
    margin: auto;
    height: 75px;
}

.testimonial-quote {
    font-style: italic;
    padding: 20px;
    text-align: center;
}

.text {
    color: white;
    font-size: 18px;
    font-weight: 300;
}

.title {
    font-size: 30px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: white;
    margin-bottom: 15px;
}

.quote {
    font-style: italic;
    color: white;
    font-weight: 300;
}